#active {
    position: absolute;
    right: 10px;
    font-size: 40px;
}

#arrow { 
    width: 20%;
    height: auto;
}

#play {
    position: absolute;
    right: 94px;
    top: 120px;
}

#scoreBoard {
    position: absolute;
    right: 100px;
    top: 40px;
    font-size: 40px;
}