#active {
    position: absolute;
    right: 400px;
    font-size: 50px;
}

#arrow { 
    width: 20%;
    height: auto;
}

#choice1 {
    margin-left: 20px;
}
#choice2 {
    margin-left: 75px;
}
#choice3 {
    margin-left: 80px;
}
#choice4 {
    margin-left: 75px;
}
#choice5 {
    margin-left: 80px;
}
#choice6 {
    margin-left: 75px;
}
#choice7 {
    margin-left: 75px;
}